.cta-btn {
  padding: 15px 55px;
  color: white;
  font-size: 25px;
  border-radius: 32px;
  border: none;
  background: linear-gradient(45deg, #C40731, #C91B26);
}

.cta-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.cta-btn:active {
  opacity: 0.6;
}