.grid-container {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 10px;
margin-top: 20vh;
}

.grid-container > div {
background-color: #ffffff;
box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.3);
border-radius: 16px;
border: none;
padding: 20px;
text-align: center;
width: 390px;
height: 210px;
}

.cs-thumb {
  width: 390px;
}

.hover-container {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #ffffff;
  border: 1px solid #000;
  overflow: hidden;
}

.overlay-w {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.64);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  font-size: 32px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  line-height: 46px;
}

.hover-container:hover .overlay-w {
  opacity: 1;
  cursor: pointer;
}

.menu-container {
  display: none;
}

.hidden {
  display: none;
}

@media (max-width: 599px) {
  h1, h2 {
    font-size: 28px;
    width: 100%;
    font-weight: 600;
    margin: 0;
    line-height: 36px;
    letter-spacing: -0.01em;
  }

  h2 {
    font-size: 18px;
    margin-top: 10vh;
  }
  
  h3 {
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0.03em;
  font-weight: 400;
  width: 660px;
  }

  .hidden {
    display: block;
  }
  
  .nav-btn {
  display: none;
  }
  
  .menu-container {
  display: block;
  }

  .grid-container {
    display: none;
    }
    
    .cs-thumb {
      width: 100%;
    }
    
    .hover-container {
      width: 290px;
      height: 160px;
      background-color: #ffffff;
      border: 1px solid #000;
      overflow: hidden;
    }

    .m-cs-container {
      display: flex;
      justify-content: center;
      padding: 30px 15px;
      max-width: 400px;
      box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.3);
      border-radius: 16px;
      border: none;
      background-color: rgb(255, 255, 255);
      margin-top: 5vh;
    }

    .m-cs-container:active {
      opacity: 0.6;
    }

    .m-cs-thumb {
      max-width: 280px;
    }

    .cs-caption, .cs-caption-a {
      text-align: center;
      font-weight: 600;
      text-decoration: none;
      color: #1A1A1A;
    }
  }